.container {
	width: 100%;
	height: 100%;
}

.bigCircle {
	-webkit-animation: spin 12s linear infinite;
	animation: spin 12s linear infinite;
	display: inline-block;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 1080px;
	z-index: 0;
}

.bigCircle:after {
	-webkit-animation: gradient 3s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	animation: gradient 3s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	background: linear-gradient(135deg, #063170, #02b3fc, #06e19e, #f8ce27);
	background-size: 300% 100% !important;
	border-radius: 80% 30% 20% 80%/70% 20% 80% 30%;
	box-shadow: 0 1px 2px #000;
	content: "";
	display: block;
	height: 800px;
	overflow: hidden;
	width: 800px;
}

.mediumCircle1 {
	-webkit-animation: spin 12s linear infinite;
	animation: spin 12s linear infinite;
	display: inline-block;
	left: 0;
	margin-left: 50%;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 80%;
	width: 1080px;
	z-index: 0;
}

.mediumCircle1:after {
	-webkit-animation: gradient 3.5s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	animation: gradient 3.5s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	background: linear-gradient(135deg, #063170, #02b3fc, #06e19e, #f8ce27);
	background-size: 300% 100% !important;
	border-radius: 80% 30% 20% 80%/70% 20% 80% 30%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 500px;
	overflow: hidden;
	width: 500px;
}

.mediumCircle2 {
	-webkit-animation: spin 14s linear infinite;
	animation: spin 14s linear infinite;
	display: inline-block;
	left: 0;
	margin-left: auto;
	margin-right: 50%;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -20%;
	width: 1080px;
	z-index: 0;
}

.mediumCircle2:after {
	-webkit-animation: gradient 3.5s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	animation: gradient 3.5s linear infinite alternate, liquidBig 5s ease-in-out infinite;
	background: linear-gradient(135deg, #063170, #02b3fc, #06e19e, #f8ce27);
	background-size: 300% 100% !important;
	border-radius: 80% 30% 20% 80%/70% 20% 80% 30%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 500px;
	overflow: hidden;
	width: 500px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}

@-webkit-keyframes liquidBig {
	0% {
		background-size: 100% 100%;
		border-radius: 80% 40% 60% 80%/70% 20% 80% 30%;
	}
	50% {
		background-size: 300% 150%;
		border-radius: 40% 60% 80% 50%/40% 80% 50% 70%;
	}
	to {
		background-size: 100% 100%;
		border-radius: 80% 40% 60% 80%/70% 20% 80% 30%;
	}
}

@keyframes liquidBig {
	0% {
		background-size: 100% 100%;
		border-radius: 80% 40% 60% 80%/70% 20% 80% 30%;
	}
	50% {
		background-size: 300% 150%;
		border-radius: 40% 60% 80% 50%/40% 80% 50% 70%;
	}
	to {
		background-size: 100% 100%;
		border-radius: 80% 40% 60% 80%/70% 20% 80% 30%;
	}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0;
	}
	to {
		background-position: 100%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0;
	}
	to {
		background-position: 100%;
	}
}

.extraSmallCircle1 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 82%;
	position: absolute;
	top: 35%;
	transition: all 10s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 1;
}

.extraSmallCircle1:after {
	-webkit-animation: gradient 10s linear infinite alternate, liquid 6s ease-in-out infinite;
	animation: gradient 10s linear infinite alternate, liquid 6s ease-in-out infinite;
	background: linear-gradient(45deg, #f8ce27, #f8ce27, #02b3fc, #02b3fc);
	background-size: 300% 100% !important;
	border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 80px;
	width: 80px;
}

.extraSmallCircle2 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 25%;
	position: absolute;
	top: 25%;
	transition: all 8.5s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 1;
}

.extraSmallCircle2:after {
	-webkit-animation: gradient 2.8s linear infinite alternate, liquid 4s ease-in-out infinite;
	animation: gradient 2.8s linear infinite alternate, liquid 4s ease-in-out infinite;
	background: linear-gradient(45deg, #063170, #1d4e99, #35b48e, #06e19e);
	background-size: 300% 100% !important;
	border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 80px;
	width: 80px;
}

.extraSmallCircle3 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 82%;
	position: absolute;
	top: 78%;
	transition: all 10s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 1;
}

.extraSmallCircle3:after {
	-webkit-animation: gradient 3.2s linear infinite alternate, liquid 4s ease-in-out infinite;
	animation: gradient 3.2s linear infinite alternate, liquid 4s ease-in-out infinite;
	background: linear-gradient(45deg, #063170, #1d4e99, #35b48e, #06e19e);
	background-size: 300% 100% !important;
	border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 80px;
	width: 80px;
}

.extraSmallCircle4 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 15%;
	position: absolute;
	top: 50%;
	transition: all 8.5s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 1;
}

.extraSmallCircle4:after {
	-webkit-animation: gradient 2.5s linear infinite alternate, liquid 6s ease-in-out infinite;
	animation: gradient 2.5s linear infinite alternate, liquid 6s ease-in-out infinite;
	background: linear-gradient(45deg, #f8ce27, #f8ce27, #02b3fc, #02b3fc);
	background-size: 300% 100% !important;
	border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 80px;
	width: 80px;
}

.smallCircle1 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 10%;
	position: absolute;
	top: 70%;
	transition: all 10s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 2;
}

.smallCircle1:after {
	-webkit-animation: gradient 3s linear infinite alternate, liquid 6s ease-in-out infinite;
	animation: gradient 3s linear infinite alternate, liquid 6s ease-in-out infinite;
	background: linear-gradient(45deg, #f8ce27, #f8ce27, #02b3fc, #02b3fc);
	background-size: 300% 100% !important;
	border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 180px;
	width: 180px;
}

.smallCircle2 {
	-webkit-animation: spin 15s linear infinite;
	animation: spin 15s linear infinite;
	left: 70%;
	position: absolute;
	top: 10%;
	transition: all 8.5s cubic-bezier(0.79, -0.2, 0.37, 1.2);
	width: 60px;
	z-index: 2;
}

.smallCircle2:after {
	-webkit-animation: gradient 3s linear infinite alternate, liquid 4s ease-in-out infinite;
	animation: gradient 3s linear infinite alternate, liquid 4s ease-in-out infinite;
	background: linear-gradient(45deg, #063170, #1d4e99, #35b48e, #06e19e);
	background-size: 300% 100% !important;
	border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	box-shadow: 0 2px 6px #000;
	content: "";
	display: block;
	height: 180px;
	width: 180px;
}

@-webkit-keyframes liquid {
	0% {
		background-size: 100% 100%;
		border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	}
	50% {
		background-size: 300% 150%;
		border-radius: 70% 40% 30% 60%/55% 40% 70% 40%;
	}
	to {
		background-size: 100% 100%;
		border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	}
}

@keyframes liquid {
	0% {
		background-size: 100% 100%;
		border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	}
	50% {
		background-size: 300% 150%;
		border-radius: 70% 40% 30% 60%/55% 40% 70% 40%;
	}
	to {
		background-size: 100% 100%;
		border-radius: 40% 60% 70% 30%/40% 70% 30% 60%;
	}
}

.orange1:after {
	background: linear-gradient(135deg, #ac3d3d, #d6a316, #ced65d, #dfd9c3) !important;
}
.orange2:after {
	background: linear-gradient(135deg, #dfd9c3, #ced65d, #d6a316, #ac3d3d) !important;
}
.pink1:after {
	background: linear-gradient(135deg, #ff7b2f, #ff512f, #dd2476, #dd24af) !important;
}
.pink2:after {
	background: linear-gradient(135deg, #dd24af, #dd2476, #ff512f, #ff7b2f) !important;
}
.green1:after {
	background: linear-gradient(135deg, #107a30, #3ca55c, #98b431, #dad170) !important;
}
.green2:after {
	background: linear-gradient(135deg, #dad170, #98b431, #3ca55c, #107a30) !important;
}
.blue1:after {
	background: linear-gradient(135deg, #4e4376, #4e4376, #2b5876, #2b5876) !important;
}
.blue2:after {
	background: linear-gradient(135deg, #2b5876, #2b5876, #4e4376, #4e4376) !important;
}
.gray1:after {
	background: linear-gradient(135deg, #bbd2c5, #536976) !important;
}
.gray2:after {
	background: linear-gradient(135deg, #536976, #bbd2c5) !important;
}
.red1:after {
	background: linear-gradient(135deg, #333, #dd1818) !important;
}
.red2:after {
	background: linear-gradient(135deg, #dd1818, #333) !important;
}
.candy1:after {
	background: linear-gradient(135deg, rgba(247, 234, 163), rgba(236, 180, 238), rgba(163, 203, 247)) !important;
}
.candy2:after {
	background: linear-gradient(135deg, rgba(163, 203, 247), rgba(236, 180, 238), rgba(247, 234, 163)) !important;
}
.burnt1:after {
	background: linear-gradient(135deg, rgba(255, 174, 0, 1), rgba(255, 0, 0, 1));
}
.burnt2:after {
	background: linear-gradient(135deg, rgba(255, 0, 0, 1), rgba(255, 174, 0, 1));
}
.woods1:after {
	background: linear-gradient(135deg, rgba(5, 84, 94, 1), #bbb);
}
.woods2:after {
	background: linear-gradient(135deg, #bbb, rgba(5, 84, 94, 1));
}
.summer1:after {
	background: linear-gradient(135deg, rgba(245, 177, 97, 1), rgba(236, 54, 110, 1));
}
.summer2:after {
	background: linear-gradient(135deg, rgba(236, 54, 110, 1), rgba(245, 177, 97, 1));
}
.primary1:after {
	background: linear-gradient(135deg, rgb(255, 0, 0), rgb(67, 198, 60), rgb(53, 66, 210));
}
.primary2:after {
	background: linear-gradient(135deg, rgb(53, 66, 210), rgb(67, 198, 60), rgb(247, 0, 0));
}

@media screen and (max-width: 600px) {
	.container {
		transform: scale(0.8);
	}
}
